.list {
  background-color: #eee;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-top: 10px;

  .title-img {
    width: calc(100vw - 80px);
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px #00000030;
    
    img {
      height: 100%;
    }
    
    span {
      margin-top: 15px;
      color: #00000050;
    }
  }

  .setting-item {
    width: calc(100vw - 40px);
    height: 30px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 2px 10px #00000030;
    background-color: white;
    cursor: pointer;

    &:active {
      background-color: #5985eb;
      color: white;
    }

    .lang-img {
      max-height: 50px;
    }

    &.lang-set {
      padding: 0px;
      height: 50px;
      width: calc(100vw - 20px);
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}