.add {
  position: relative;
  width: calc(100vw - 340px);
  background-color: #f6f2e9;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #7a695c50;
  margin-bottom: 10px;

  .add-time-area {
    background-color: #ede4d8;
    margin-left: -10px;
    margin-top: -10px;
    padding: 5px 10px;
    width: calc(100vw - 340px);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      color: #cebfae;
    }
  }

  .add-item-text {
    display: block;
    margin-top: 10px;
    color: #6e492f;
    border: 0;
    max-width: calc(100vw - 340px);
    min-width: calc(100vw - 340px);
    outline: none;
    background-color: transparent;
    font-family: 'smartisan-t';
    resize: none;
    font-size: 1rem;

    &::selection {
      background-color: #dcc6a9;
    }
  }
}

.buttons {
  width: calc(100vw - 319px);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;

  button {
    border: 3px solid white;
    color: white;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    transition: width .3s, margin .4s;
    cursor: pointer;
    box-shadow: inset 1px 1px 10px #00000030;

    .material-icons {
      font-weight: bold;
    }

    &.ok-button {
      background-color: #00b600;
      width: 0;
      overflow: hidden;
      margin-right: 10px;

      &:active {
        background-color: #00a600;
      }
    }

    &.close-button {
      background-color: #d6010f;
      width: 100%;

      &:active {
        background-color: #b6000b;
      }
    }
  }
}