.add {
  position: relative;
  width: calc(100vw - 40px);
  background-color: #f6f2e9;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 5px #7a695c50;
  margin-bottom: 10px;

  .add-time-area {
    background-color: #ede4d8;
    margin-left: -10px;
    margin-top: -10px;
    padding: 5px 10px;
    width: calc(100vw - 40px);
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      color: #cebfae;
    }

    .buttons {
      display: flex;
      flex-direction: row;

      .cancel-button {
        height: 10px;
        padding: 5px;
        line-height: 10px;
        margin-right: -3px;
        background-color: #00000010;
        font-size: 10px;
        border-radius: 3px;
        color: #6e492f;
        cursor: pointer;

        &:active {
          background-color: #00000020;
        }
      }

      .ok-button {
        @extend .cancel-button;
        margin-right: 5px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }

  .add-item-text {
    display: block;
    margin-top: 10px;
    color: #6e492f;
    border: 0;
    max-width: 260px;
    min-width: 260px;
    outline: none;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    resize: none;
  }
}