@import url('dialogAnimation.css');

.alert {
    padding: 0;
    z-index: 10;
    background-color: white;
    width: 300px;
    border-radius: 9px;
    box-shadow: 0 5px 20px #00000050;
    border: 1px solid #999;
    overflow: hidden;
    transition: dialog;
    user-select: none;
    color: #00000090;
    -webkit-app-region: no-drag;
}
.alert .title {
    -webkit-app-region: drag;
    border-bottom: 1.5px solid #00000015;
    padding: 12px;
    display: flex;
    background: #00000008;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.alert .body {
    padding: 18px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border-bottom: 1.5px solid #00000015;
    min-height: 3em;
    justify-content: center;
}
.alert .body span {
    display: block;
    white-space: pre-wrap;
    user-select: text;
}
.alert .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background: #00000010;
}
.alert .buttons div {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.alert .buttons div.cancel {
    border-right: 2px solid #00000010;
}
.alert .buttons div.cancel:active {
    background-color: #00000010 !important;
}
.alert .buttons div.cancel:hover {
    background-color: #00000005;
}
.alert .buttons div.return {
    color: #5985eb;
}
.alert .buttons div.return:active {
    background-color: #5985eb !important;
    color: white;
}
.alert .buttons div.return:hover {
    background-color: #00000005;
}