.list {
  background-color: #eee;
  width: calc(100vw - 300px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-top: 10px;

  .item-box {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 10px #00000030;
    
    .item {
      box-shadow: none;
      margin-bottom: 0px;
    }
  }

  .login-input {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 10px #00000030;
    width: calc(100vw - 450px);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;

    input {
      padding: 15px;
      margin: 5px 0px;
      border: 1.5px solid #00000020;
      background-color: #00000010;
      border-radius: 5px;
    }
  }

  .item {
    position: relative;
    width: calc(100vw - 450px);
    max-width: 550px;
    height: 30px;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 2px 10px #00000030;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    margin-bottom: 10px;

    &:active {
      background-color: #5985eb;
      color: white;
    }

    &.login {
      background-color: #5985eb;
      color: white;
      justify-content: center;

      &:active {
        background-color: #4e6fbb;
      }
    }

    &.register {
      justify-content: center;
    }

    &.logout {
      background-color: #e5544b;
      color: white;
      justify-content: center;
    }
  }
}