body {
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-app-region: drag;
}

.background {
    background-color: #edd9b700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.background img {
    width: 130px;
    height: 130px;
    margin-bottom: 30px;
}

.background span {
    color: #7a695c;
    font-weight: bold;
    font-size: 24px;
}

.copyright {
    font-size: 14px !important;
    display: block;
    margin-top: 15px;
}

.close-button {
    position: fixed;
    right: 7.5px;
    top: 7.5px;
    background-color: #e5544b;
    height: 20px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-app-region: no-drag;
    cursor: pointer;
    color: white;
    z-index: 1;
}
.close-button:hover {
    background-color: #c95047;
}
.close-button:active {
    background-color: #99362f;
}

.close-button .close-img {
    margin: 0;
    height: 10px;
    width: 10px;
}