@font-face {
  font-family: 'smartisan-t';
  src: url('../fonts/smartisan-t/Smartisan_Compact-Regular.ttf');
}

@font-face {
  font-family: 'smartisan-t';
  font-weight: bold;
  src: url('../fonts/smartisan-t/Smartisan_Compact-Bold.ttf');
}