::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'smartisan-t';
  src: url('../fonts/smartisan-t/Smartisan_Compact-Regular.ttf');
}

@font-face {
  font-family: 'smartisan-t';
  font-weight: bold;
  src: url('../fonts/smartisan-t/Smartisan_Compact-Bold.ttf');
}

.black-back {
  background-color: #00000030;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: calc(100vw - 300px);
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
  margin-top: 25px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'smartisan-t';

  #app {
    user-select: none;
  }
}

.ps {
  padding-inline-start: 0;
}